<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/2ed0c076-cb6d-4858-8bb4-5ba2483f8621/resourcegroups/FlickrDataAggregator/providers/Microsoft.ContainerRegistry/registries/FlickrAggregatorContainer</ResourceId>
    <ResourceName>FlickrAggregatorContainer</ResourceName>
    <ResourceGroup>FlickrDataAggregator</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://flickraggregatorcontainer.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>